@model TugboatOwner

@{
    ViewData["Title"] = "Tug Boat Owner - Edit";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center text-white">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    
    <div class="card-body">
        <form method="post" class="row">
            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="TugboatOwnerId" value="@Model.TugboatOwnerId" style="display: none" />
                <div class="row pt-2">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="TugboatOwnerName" value="@Model.TugboatOwnerName" type="text" class="form-control border-0 shadow" id="TugboatName" placeholder="Name" required>
                        <label asp-for="TugboatOwnerName" for="TugboatName" class="ms-2">Tugboat Company/Owner Name<span class="required text-danger">*</span></label>
                        <span asp-validation-for="TugboatOwnerName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-3">
                        <input asp-for="TugboatOwnerNumber" value="@Model.TugboatOwnerNumber" type="text" class="form-control border-0 shadow" id="TugboatOwnerNumber" placeholder="Number" required>
                        <label asp-for="TugboatOwnerNumber" for="TugboatOwnerNumber" class="ms-2">Tugboat Company/Owner Number<span class="required text-danger">*</span></label>
                        <span asp-validation-for="TugboatOwnerNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="FixedRate" type="number" class="form-control border-0 shadow" id="FixedRate" placeholder="Fixed Rate" required>
                        <label asp-for="FixedRate" for="FixedRate" class="ms-2">Fixed Rate<span class="required text-danger">*</span></label>
                        <span asp-validation-for="FixedRate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mt-3">
                <div class="text-center" style="width: 250px;">
                    <button class="btn btn-primary custom-btn col-12" type="submit" id="submitButton">Submit</button>
                </div>
                <div class="text-center" style="width: 250px;">
                    <a class="btn btn-outline-primary border col-12" asp-controller="TugboatOwner" asp-action="Index">
                        Go Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>