@model Service

@{
    ViewData["Title"] = "Service - Edit";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center text-white">
            <h2>
                @ViewData["Title"]
            </h2>
        </div>
    </div>
    
    <div class="card-body">
        
        <form method="post" class="row">
            
            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="ServiceId" value="@Model.ServiceId" style="display: none"/>
                
                <div class="row">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="ServiceName" value="@Model.ServiceName" type="text" class="form-control border-0 shadow" id="ServiceName" placeholder="Name" required>
                        <label asp-for="ServiceName" for="ServiceName" class="ms-2">Activity/Service<span class="required text-danger">*</span></label>
                        <span asp-validation-for="ServiceName" class="text-danger"></span>
                    </div>
                    
                    <div class="form-floating col-6 my-3">
                        <input asp-for="ServiceNumber" value="@Model.ServiceNumber" type="text" class="form-control border-0 shadow" id="ServiceNumber" placeholder="Number" required>
                        <label asp-for="ServiceNumber" for="ServiceNumber" class="ms-2">Activity/Service number<span class="required text-danger">*</span></label>
                        <span asp-validation-for="ServiceNumber" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
            
            <div class="row justify-content-end mt-3">
                
                <div class="text-center" style="width: 250px;">
                    <button class="btn btn-primary custom-btn col-12" type="submit" id="submitButton">Submit</button>
                </div>

                <div class="text-center" style="width: 250px;">
                    <a class="btn btn-outline-primary border col-12" asp-controller="MaritimeService" asp-action="Index">
                        Go Back
                    </a>
                </div>
                
            </div>
            
        </form>
    </div>
</div>