@model IBS.Models.MMSI.MasterFile.Principal

@{
    ViewData["Title"] = "Principal - Edit";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center text-white">
            <h2>
                @ViewData["Title"]
            </h2>
        </div>
    </div>
    
    <div class="card-body">
        
        <form method="post" class="row">

            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="PrincipalId" style="display: none" value="@Model.PrincipalId" />
                <div class="row pt-2">
                    <div class="form-floating col-6 my-2">
                        <input asp-for="PrincipalName" type="text" class="form-control border-0 shadow" id="PrincipalName" placeholder=" " required>
                        <label asp-for="PrincipalName" for="PrincipalName" class="ms-2">Principal Name<span class="required text-danger">*</span></label>
                        <span asp-validation-for="PrincipalName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-2">
                        <input asp-for="PrincipalNumber" type="text" class="form-control border-0 shadow" id="PrincipalNumber" placeholder=" " required>
                        <label asp-for="PrincipalNumber" for="PrincipalNumber" class="ms-2">Principal Number<span class="required text-danger">*</span></label>
                        <span asp-validation-for="PrincipalNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="form-floating col-12 my-2">
                        <input asp-for="Address" type="text" class="form-control border-0 shadow" id="Address" placeholder=" " required>
                        <label asp-for="Address" for="Address" class="ms-2">Address<span class="required text-danger">*</span></label>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="form-floating col-6 my-2">
                        <input asp-for="TIN" type="text" class="form-control border-0 shadow" id="TIN" placeholder=" ">
                        <label asp-for="TIN" for="TIN" class="ms-2">TIN</label>
                        <span asp-validation-for="TIN" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-2">
                        <input asp-for="BusinessType" type="text" class="form-control border-0 shadow" id="BusinessType" placeholder=" ">
                        <label asp-for="BusinessType" for="BusinessType" class="ms-2">Business Type</label>
                        <span asp-validation-for="BusinessType" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="form-floating col-6 my-2">
                        <input asp-for="Terms" type="text" class="form-control border-0 shadow" id="Terms" placeholder=" ">
                        <label asp-for="Terms" for="Terms" class="ms-2">Terms</label>
                        <span asp-validation-for="Terms" class="text-danger"></span>
                    </div>
                    <div class="form-check col-3 ps-2 text-start d-flex align-items-center justify-content-start">
                        <input asp-for="IsVatable" class="form-check-input m-0 ms-2" id="IsVatable" type="checkbox">
                        <label class="text-decoration-underline form-check-label ps-1 h4 m-0" for="IsVatable">
                            Vatable
                        </label>
                    </div>
                    <div class="form-check col-3 ps-2 text-start d-flex align-items-center justify-content-start">
                        <input asp-for="IsActive" class="form-check-input m-0 ms-2" id="IsActive" type="checkbox">
                        <label class="text-decoration-underline form-check-label ps-1 h4 m-0" for="IsActive">
                            Active
                        </label>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="form-floating col-6 my-2">
                        <input asp-for="Mobile1" type="number" class="form-control border-0 shadow" id="Mobile1" placeholder="" maxlength="20" title="Mobile Number must not exceed 20 characters">
                        <label asp-for="Mobile1" for="Mobile1" class="ms-2">Mobile1 #</label>
                        <span asp-validation-for="Mobile1" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-2">
                        <input asp-for="Mobile2" type="number" class="form-control border-0 shadow" id="Mobile2" placeholder="" maxlength="20" title="Mobile Number must not exceed 20 characters">
                        <label asp-for="Mobile2" for="Mobile2" class="ms-2">Mobile2 #</label>
                        <span asp-validation-for="Mobile2" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="form-floating col-6 my-2">
                        <input asp-for="Landline1" type="number" class="form-control border-0 shadow" id="Landline1" placeholder="" maxlength="20" title="Landline Number must not exceed 20 characters">
                        <label asp-for="Landline1" for="Landline1" class="ms-2">Landline1 #</label>
                        <span asp-validation-for="Landline1" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-2">
                        <input asp-for="Landline2" type="number" class="form-control border-0 shadow" id="Landline2" placeholder="" maxlength="20" title="Landline Number must not exceed 20 characters">
                        <label asp-for="Landline2" for="Landline2" class="ms-2">Landline2 #</label>
                        <span asp-validation-for="Landline2" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="control-label ps-1 pb-1">Customer<span class="required text-danger">*</span></label>
                        <select asp-for="CustomerId" id="customerId" asp-items="@Model.CustomerSelectList" class="form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" required>
                            <option value="">Select Customer</option>
                        </select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-end mt-3">

                <div class="text-center" style="width: 250px;">
                    <button class="btn btn-primary custom-btn col-12" type="submit" id="submitButton">Submit</button>
                </div>

                <div class="text-center" style="width: 250px;">
                    <a class="btn btn-outline-primary border col-12" asp-controller="Principal" asp-action="Index">
                        Go Back
                    </a>
                </div>

            </div>
            
        </form>
    </div>
</div>