@model IBS.Models.MMSI.MasterFile.Tugboat

@{
    ViewData["Title"] = "Tug Boat - Edit";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center text-white">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>

    <div class="card-body">
        <form method="post" class="row">
            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="TugboatId" value="@Model.TugboatId" type="hidden">
                <div class="row pt-2">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="TugboatName" type="text" class="form-control border-0 shadow" id="TugboatName" placeholder="Name" required>
                        <label asp-for="TugboatName" for="TugboatName" class="ms-2">Tugboat name<span class="required text-danger">*</span></label>
                        <span asp-validation-for="TugboatName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-3">
                        <input asp-for="TugboatNumber" type="text" class="form-control border-0 shadow" id="TugboatNumber" placeholder="Number" required>
                        <label asp-for="TugboatNumber" for="TugboatNumber" class="ms-2">Tugboat Number<span class="required text-danger">*</span></label>
                        <span asp-validation-for="TugboatNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="form-group col-6">
                        <label class="control-label ps-1 pb-1">Company/Owner<span class="required text-danger">*</span></label>
                        @if (Model.IsCompanyOwned)
                        {
                            <select asp-for="TugboatOwnerId" asp-items="@Model.CompanyList" class="form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" id="companyNameSelect" disabled>
                                <option value="">Select Tugboat Owner</option>
                            </select>
                        }
                        else
                        {
                            <select asp-for="TugboatOwnerId" asp-items="@Model.CompanyList" class="form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" id="companyNameSelect" required>
                                <option value="">Select Company/Owner</option>
                            </select>
                        }
                        <span asp-validation-for="TugboatOwnerId" class="text-danger"></span>
                    </div>
                    <div class="form-check col-3 ps-2 pt-4 text-start d-flex align-items-center justify-content-start">
                        <input asp-for="IsCompanyOwned" class="form-check-input m-0 ms-2" type="checkbox" id="isCompanyOwnedCheckBox">
                        <label class="text-decoration-underline form-check-label ps-1 m-0" for="isCompanyOwnedCheckBox">
                            Company Owned
                        </label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mt-3">
                <div class="text-center" style="width: 250px;">
                    <button class="btn btn-primary custom-btn col-12" type="submit" id="submitButton">Submit</button>
                </div>
                <div class="text-center" style="width: 250px;">
                    <a class="btn btn-outline-primary border col-12" asp-controller="Tugboat" asp-action="Index">
                        Go Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>

        $(document).ready(function () {

            let isCompanyOwnedCheckBoxVar = $('#isCompanyOwnedCheckBox');
            isCompanyOwnedCheckBoxVar.on('click', checkboxChanged);
            
            function checkboxChanged() {
                let $checkbox = isCompanyOwnedCheckBoxVar;
                let $inputField = $('#companyNameSelect');

                if ($checkbox.prop("checked")) {
                    $inputField.prop("required", false).prop("disabled", true).val("0").trigger("change");
                } else {
                    $inputField.prop("required", true).prop("disabled", false);
                }
            }
        });

    </script>
}