@model MMSIUserAccess

@{
    ViewData["Title"] = "User Access - Edit";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center text-white">
            <h2>EDIT USER ACCESS FOR @Model.UserName</h2>
        </div>
    </div>

    <div class="card-body">
        <form method="post" class="row">
            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" value="@Model.Id"/>
                <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
                
                <div class="row pt-3">
                    <div class="col-3">
                        <h5>Dispatch Ticket</h5>
                    </div>
                    <div class="col-3">
                        <h5>Tariff</h5>
                    </div>
                    <div class="col-3">
                        <h5>Billing</h5>
                    </div>
                    <div class="col-3">
                        <h5>Collection</h5>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-3 ps-2">
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanCreateServiceRequest" class="form-check-input m-0 ms-2" type="checkbox" id="canCreateServiceRequest">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canCreateServiceRequest">
                                    Create Service Request (Legacy)
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanPostServiceRequest" class="form-check-input m-0 ms-2" type="checkbox" id="canPostServiceRequest">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canPostServiceRequest">
                                    Post Service Request (Legacy)
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanCreateDispatchTicket" class="form-check-input m-0 ms-2" type="checkbox" id="canCreateDispatchTicket">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canCreateDispatchTicket">
                                    Create Dispatch Ticket
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanEditDispatchTicket" class="form-check-input m-0 ms-2" type="checkbox" id="canEditDispatchTicket">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canEditDispatchTicket">
                                    Edit Dispatch Ticket
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanCancelDispatchTicket" class="form-check-input m-0 ms-2" type="checkbox" id="canCancelDispatchTicket">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canCancelDispatchTicket">
                                    Cancel Dispatch Ticket
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ps-2">
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanSetTariff" class="form-check-input m-0 ms-2" type="checkbox" id="canSetTariff">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canSetTariff">
                                    Set Tariff
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanApproveTariff" class="form-check-input m-0 ms-2" type="checkbox" id="canApproveTariff">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canApproveTariff">
                                    Approve Tariff
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ps-2">
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanCreateBilling" class="form-check-input m-0 ms-2" type="checkbox" id="canCreateBilling">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canCreateBilling">
                                    Create Billing
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ps-2">
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanCreateCollection" class="form-check-input m-0 ms-2" type="checkbox" id="canCreateCollection">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canCreateCollection">
                                    Create Collection
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row pt-3">
                    <div class="col-12">
                        <h5>Job Order</h5>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-3 ps-2">
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanCreateJobOrder" class="form-check-input m-0 ms-2" type="checkbox" id="canCreateJobOrder">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canCreateJobOrder">
                                    Create Job Order
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanEditJobOrder" class="form-check-input m-0 ms-2" type="checkbox" id="canEditJobOrder">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canEditJobOrder">
                                    Edit Job Order
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanDeleteJobOrder" class="form-check-input m-0 ms-2" type="checkbox" id="canDeleteJobOrder">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canDeleteJobOrder">
                                    Delete Job Order
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanCloseJobOrder" class="form-check-input m-0 ms-2" type="checkbox" id="canCloseJobOrder">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canCloseJobOrder">
                                    Close Job Order
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4" />

                @* -- Treasury -- *@
                <div class="row pt-3">
                    <div class="col-12">
                        <h5>Treasury</h5>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-3 ps-2">
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanAccessTreasury" class="form-check-input m-0 ms-2" type="checkbox" id="canAccessTreasury">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canAccessTreasury">
                                    Access Treasury Module
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanCreateDisbursement" class="form-check-input m-0 ms-2" type="checkbox" id="canCreateDisbursement">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canCreateDisbursement">
                                    Disbursement
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4" />

                @* -- MSAP Import -- *@
                <div class="row pt-3">
                    <div class="col-12">
                        <h5>MSAP Import</h5>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-3 ps-2">
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanManageMsapImport" class="form-check-input m-0 ms-2" type="checkbox" id="canManageMsapImport">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canManageMsapImport">
                                    Manage MSAP Import
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4" />

                @* -- Reports -- *@
                <div class="row pt-3">
                    <div class="col-12">
                        <h5>Reports</h5>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-3 ps-2">
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanViewGeneralLedger" class="form-check-input m-0 ms-2" type="checkbox" id="canViewGeneralLedger">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canViewGeneralLedger">
                                    General Ledger
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanViewInventoryReport" class="form-check-input m-0 ms-2" type="checkbox" id="canViewInventoryReport">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canViewInventoryReport">
                                    Inventory Report
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ps-2">
                        <div class="row">
                            <div class="col-12">
                                <input asp-for="CanViewMaritimeReport" class="form-check-input m-0 ms-2" type="checkbox" id="canViewMaritimeReport">
                                <label class="text-decoration-underline form-check-label ps-1 m-0" for="canViewMaritimeReport">
                                    Maritime Reports
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mt-3">
                <div class="text-center" style="width: 250px;">
                    <button class="btn btn-primary custom-btn col-12" type="submit" id="submitButton">Submit</button>
                </div>
                <div class="text-center" style="width: 250px;">
                    <a class="btn btn-outline-primary border col-12" asp-controller="UserAccess" asp-action="Index">
                        Go Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>

        $(document).ready(function () {
            let $checkbox = $('#isCompanyOwnedCheckBox');
            $checkbox.on('click', checkboxChanged);

            function checkboxChanged() {
                let $inputField = $('#companyNameSelect');

                if ($checkbox.prop("checked")) {
                    $inputField.prop("required", false).prop("disabled", true).val("0").trigger("change");
                } else {
                    $inputField.prop("required", true).prop("disabled", false);
                }
            }
        });

    </script>
}
